@use '../../../styles/mixins' as mix;
@use '../../../styles/variables' as vars;
@use '../../../styles/fonts';

header {
  min-height: 100px;
  @include mix.flex-center;
  justify-content: space-between;
  @include mix.content-limit;
  @include mix.header-footer-padding-top;
}

.header-left-container,
ul {
  @include mix.flex-center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: 'Fira Code';
  font-size: clamp(19px, 1.6dvw, 23px);
  color: white;
}

li {
  list-style: none;
}

nav {
  @include mix.navigation-links(100% 0 0 50%, 10px, x);
}

.lang-btn-container {
  width: fit-content;
  height: 30px;
  border: 1px solid vars.$primary-green;
  border-radius: 20px;
  display: flex;

  &:hover {
    border-color: white;
  }
}

.lang-btn {
  @include mix.lang-btn-base;
  flex: 1;
}

.lang-btn--activated:hover~.lang-btn,
.lang-btn:has(~ .lang-btn--activated:hover) {
  color: vars.$primary-green;
}

app-personal-logo {
  font-size: clamp(1.75rem, 2.8dvw, 2.75rem);
}

.navigation_menu {
  a {
    cursor: pointer;

    svg {
      transform: scale(1, 1);
      transition: transform 0.5s ease;
      height: 100%;
    }
  }

  a:active {
    svg {
      transform: scale(1.15, 1.1);

      path {
        fill: vars.$primary-green;
      }
    }
  }
}

dialog {
  height: 250px;
  width: 240px;
  background: vars.$background-gradient-dialog;
  @include mix.flex-column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid vars.$primary-green;
  position: fixed;
  margin: 0;
  inset: auto;

  ul {
    @include mix.flex-column;
  }
}

dialog:not([open]) {
  display: none;
}

@media (max-width: 480px) {
  .header-left-container {
    display: none;
  }

  .navigation_menu {
    display: flex;
  }

  dialog {
    width: 180px;

    li {
      font-size: 18px;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-left-container {
    display: none;
  }

  .navigation_menu {
    display: flex;
  }

  dialog {
    width: 200px;

    li {
      font-size: 18px;
    }
  }

}

@media (min-width: 769px) and (max-width: 1279px) {
  .header-left-container {
    display: flex;
  }

  .navigation_menu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header-left-container {
    display: flex;
  }

  .navigation_menu {
    display: none;
  }
}