<footer class="footer">
    <div class="footer__brand">
        <a class="footer__logo-link" routerLink="/" aria-label="Home">
            <app-personal-logo />
        </a>
        <div class="footer__info">
            <span>Full Stack Developer</span>
            <span>Berlin Germany</span>
        </div>
    </div>
    <div class="footer__copy-right">© Cristian Jaraba 2026</div>

    <nav class="footer__nav-items-container">
        <ul>
            @for (item of navItems; track item.label) {
            <li>
                @if (item.route) {
                <a [routerLink]="item.route"><span class="point"></span>{{ item.label }}</a>
                } @else {
                <a [href]="item.href" target="_blank"><span class="point"></span>{{ item.label }}</a>
                }
            </li>
            }
        </ul>
    </nav>

    <div class="footer__copy-right--mobile-version">© Cristian Jaraba 2026</div>
</footer>