<footer class="footer">
    <div class="footer__brand">
        <a class="footer__logo-link" routerLink="/" [attr.aria-label]="'COMMON.HOME' | translate">
            <app-personal-logo />
        </a>
        <div class="footer__info">
            <span>{{ 'FOOTER.ROLE' | translate }}</span>
            <span>{{ 'FOOTER.LOCATION' | translate }}</span>
        </div>
    </div>
    <div class="footer__copy-right">© Cristian Jaraba 2026</div>

    <nav class="footer__nav-items-container">
        <ul>
            @for (item of navItems; track item.labelKey) {
            <li>
                @if (item.route) {
                <a [routerLink]="item.route" target="_blank"><span class="point"></span>{{ item.labelKey | translate }}</a>
                } @else {
                <a [href]="item.href" target="_blank"><span class="point"></span>{{ item.labelKey | translate }}</a>
                }
            </li>
            }
        </ul>
    </nav>

    <div class="footer__copy-right--mobile-version">© Cristian Jaraba 2026</div>
</footer>