@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;

.projects {
    @include mix.content-limit;
    height: auto;
    padding-bottom: 100px;

    &__eyebrow {
        font-size: vars.$font-size-subhead;
        color: vars.$primary-green;
        font-family: 'Karla';
        margin-bottom: 1rem;
    }

    &__heading {
        font-size: vars.$font-size-display;
        color: vars.$primary-green;
        font-family: 'Fira Code';
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: vars.$font-size-body;
        color: white;
        font-family: 'Karla';
        margin-bottom: 2rem;
    }

    &__name {
        font-size: vars.$font-size-body;
        color: white;
        font-family: 'Fira Code';
        font-weight: bold;
        margin-right: 10px;
    }

    &__name-wrapper svg {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &__technologies {
        @include mix.flex-center;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    &__technology {
        font-size: vars.$font-size-body;
        color: white;
        font-family: 'Karla';
    }

    &__separator {
        width: 2px;
        height: 1.4em;
        background-color: vars.$primary-green;
    }

    &__card {
        position: relative;
        background: none;
        border: none;
        padding: 30px 0;
        @include mix.flex-column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:active {
            background-color: #3DCFB64D;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        border-bottom: 1px solid vars.$primary-green;

        &:first-child {
            border-top: 1px solid vars.$primary-green;
        }
    }

    &__screenshot-container {
        display: none;
        position: absolute;

        &--join {
            top: -20px;
        }

        &--pokedex {
            bottom: -20px;
        }
    }

    &__screenshot {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    &__screenshot-shadow {
        position: absolute;
        z-index: -1;
        top: 15px;
        right: -15px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        @include mix.stripes(-45deg, 1px, 12px);
    }
}

@media (min-width: 481px) {
    .projects {
        &__text {
            max-width: 75%;
        }
    }
}

@media (min-width: 769px) {
    .projects {
        @include mix.flex-column;

        &__header,
        &__list {
            width: 100%;
            max-width: 700px;
        }

        &__card {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-inline: 2rem;

            &:hover {
                background-color: #3DCFB64D;
            }
        }
    }
}

@media (min-width: 1024px) {
    .projects {
        @include mix.section-desktop(column);

        &__card:hover {
            .projects__screenshot-container {
                display: flex;
            }

            .projects__name-wrapper svg {
                opacity: 1;
            }
        }

        &__screenshot-container {
            left: calc(100% + 32px);
            right: calc(100% - min(100vw - 50px, 1440px) + 32px);
        }
    }
}

@media (min-width: 1280px) {
    .projects {
        &__header,
        &__list {
            max-width: 800px;
        }
    }
}