@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;
@use 'hero-base';

@media (max-width: 480px) {
    .hero {

        &__titles-container {
            flex-direction: column-reverse;
            gap: 10px;
        }

        &__email {
            display: none;

            &-movile-icon {
                display: flex;

                path {
                    fill: vars.$primary-green;
                }

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }
        }

        &__email-movile {
            display: flex;
        }

        &__line--right {
            gap: 15px;
        }

        &__right-line-icon {
            width: 1px;
            height: 180px;
        }

        &__left-line-icon {
            width: 1px;
            height: 190px;
        }

        &__links-container {
            margin-top: 0;
            gap: 1rem;
        }

        &__marquee {
            @include mix.marquee-button-mobile(130px);
        }

        &__social-media-container {

            ::ng-deep svg {
                height: 20px;
                width: 20px;
            }
        }

        &__arrow-container {
            width: 20px;
            height: 40px;
        }
    }

    .hero-section {

        &__marquee-track {
            bottom: 30px;
            height: 50px;
        }

        &__marquee-content {
            font-size: 24px;
        }

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .hero {

        &__titles-container {
            flex-direction: column-reverse;
            gap: 10px;
        }

        &__email {
            display: none;

            &-movile-icon {
                display: flex;

                path {
                    transition: fill 0.2s ease-in-out;
                    fill: vars.$primary-green;
                }

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }
        }

        &__email-movile {
            display: flex;
        }

        &__line--right {
            gap: 15px;
        }

        &__right-line-icon {
            width: 1px;
            height: 200px;
        }

        &__left-line-icon {
            width: 1px;
            height: 210px;
        }

        &__links-container {
            margin-top: 0;
            gap: 1rem;
        }

        &__marquee {
            @include mix.marquee-button-mobile(160px);
        }

        &__social-media-container {

            ::ng-deep svg {
                height: 23px;
                width: 23px;
            }
        }

        &__arrow-container {
            width: 25px;
            height: 45px;
        }
    }

    .hero-section {

        &__marquee-track {
            bottom: 30px;
            height: 55px;
        }

        &__marquee-content {
            font-size: 30px;
        }

    }
}

@media (min-width: 769px) {
    .hero {

        &__social-media-container {
            justify-content: flex-start;
            height: fit-content;
        }

        &__right-line-icon {
            height: 190px;
        }
    }
}