@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;


// ========================================
// Animations
// ========================================

@keyframes animateArrow {

    0%,
    100% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(4px);
    }
}

@keyframes marquee-content {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    45% {
        transform: translateX(-150%);
        opacity: 1;
    }

    50% {
        transform: translateX(-150%);
        opacity: 0;
    }

    51% {
        transform: translateX(150%);
    }

    55% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hero-section-marquee-content {
    to {
        transform: translateX(-100%);
    }
}

// ========================================
// Hero section
// ========================================

:host {
    display: block;
    position: relative;
    overflow: hidden;
}

.hero-section {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__marquee-track {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #FFFFFF1F;
        transform: rotate(-3deg);
        overflow: hidden;
        @include mix.flex-center;
        backdrop-filter: blur(1px);
    }

    &__marquee-content {
        @include mix.flex-center;
        flex-shrink: 0;
        width: max-content;
        gap: 50px;
        padding-right: 50px;
        white-space: nowrap;
        color: vars.$primary-green;
        font-family: 'Karla';
        font-size: 32px;
        animation: hero-section-marquee-content 10s linear infinite;
    }

}


// ========================================
// Hero
// ========================================

.hero {
    flex: 1;
    @include mix.content-limit;
    @include mix.flex-column;
    justify-content: end;


    // ========================================
    // Central content
    // ========================================

    &__central-container {
        align-self: center;

        @include mix.flex-column;

        align-items: center;

        position: absolute;
        inset: 0;

        margin: 0;

        h1,
        span {
            line-height: 0.8;
        }
    }


    // ========================================
    // Title
    // ========================================

    &__titles-container {
        @include mix.flex-column;
        align-items: center;
    }

    &__title {
        font-family: 'Karla';
        font-size: clamp(38px, 8vw, 128px);
        text-align: center;
        margin-bottom: 2rem;
        color: #D9D9D9;
    }


    // ========================================
    // Job title
    // ========================================

    &__work-title {
        font-family: 'Fira Code';
        font-size: clamp(18px, 3vw, 40px);
        color: #D9D9D9;
    }


    // ========================================
    // Links
    // ========================================

    &__links-container {
        @include mix.flex-center;

        margin-top: 4rem;

        gap: 2rem;
    }


    // ========================================
    // Marquee button
    // ========================================

    &__marquee {
        @include mix.remove-link-style(white);

        padding: 15px 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        white-space: nowrap;

        border: 1px solid white;
        border-radius: 30px;

        font-family: 'Karla';
        font-size: 18px;

        cursor: pointer;

        &--work {
            width: 170px;
        }

        &--contact {
            width: 135px;
        }

        transition: border 0.2s ease-in-out;

        .hero__marquee-track {
            transition: color 0.2s ease-in-out;
            color: white;
        }

        &:hover {

            border: 1px solid vars.$primary-green;

            .hero__marquee-track {
                transition: color 0.2s ease-in-out;
                color: vars.$primary-green;
                animation: marquee-content 2s linear infinite;
            }
        }
    }


    // ========================================
    // Marquee track
    // ========================================

    &__marquee-track {
        display: flex;

        width: max-content;

        flex-shrink: 0;
    }


    // ========================================
    // Marquee content
    // ========================================

    &__marquee-content {
        display: flex;
        flex-shrink: 0;

        span {
            font-size: clamp(16px, 1vw, 18px);
        }
    }


    // ========================================
    // Side lines container
    // ========================================

    &__lines-container {
        display: flex;
        justify-content: space-between;
    }


    // ========================================
    // Side line
    // ========================================

    &__line {
        @include mix.flex-column;

        align-items: center;

        gap: 20px;


        &--left {
            align-self: flex-end;
        }


        &--right {
            justify-content: space-between;
        }

    }


    // ========================================
    // Arrow
    // ========================================

    &__arrow-container {
        width: 30px;
        height: 50px;

        border: 1px solid vars.$primary-green;
        border-radius: 30px;

        @include mix.flex-column;

        justify-content: center;
        align-items: center;


        svg {
            animation: animateArrow 1.2s ease infinite;
        }
    }


    // ========================================
    // Email
    // ========================================

    &__email {
        width: 100%;
        margin-bottom: -20px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        @include mix.flex-center;
        @include mix.remove-link-style(white);

        transition: color 0.2s ease-in-out;


        &:hover {
            color: vars.$primary-green;
        }
    }


    // ========================================
    // Social media
    // ========================================

    &__social-media-container {
        @include mix.flex-column;
        @include mix.navigation-links(0 0 0 100%, 5px, y, vars.$primary-green);
        height: 100%;
        justify-content: end;

        .point {
            margin-right: 0;
            margin-left: 5px;
        }

        gap: 15px;


        ::ng-deep svg path {
            transition: fill 0.2s ease-in-out;
        }


        ::ng-deep svg:hover path {
            fill: white;
        }

        span {
            @include mix.flex-center;
        }
    }
}

// ========================================
// Responsive Design
// ========================================

// 0 - 480px
@media (max-width: 480px) {
    .hero {

        &__titles-container {
            flex-direction: column-reverse;
            gap: 10px;
        }

        &__email {
            display: none;

            &-movile-icon {
                display: flex;

                path {
                    fill: vars.$primary-green;
                }

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }
        }

        &__line--right {
            gap: 15px;
        }

        &__right-line-icon {
            width: 1px;
            height: 150px;
        }

        &__left-line-icon {
            width: 1px;
            height: 190px;
        }

        &__links-container {
            margin-top: 0;
            gap: 1rem;
        }

        &__marquee {
            height: fit-content;
            width: 130px;
        }

        &__social-media-container {

            ::ng-deep svg {
                height: 20px;
                width: 20px;
            }
        }

        &__arrow-container {
            width: 20px;
            height: 40px;
        }
    }

    .hero-section {

        &__marquee-track {
            bottom: 10px;
            height: 50px;
        }

        &__marquee-content {
            font-size: 24px;
        }

    }
}

// 481 - 768px
@media (min-width: 481px) and (max-width: 768px) {
    .hero {

        &__titles-container {
            flex-direction: column-reverse;
            gap: 10px;
        }

        &__email {
            display: none;

            &-movile-icon {
                display: flex;

                path {
                    transition: fill 0.2s ease-in-out;
                    fill: vars.$primary-green;
                }

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }
        }

        &__line--right {
            gap: 15px;
        }

        &__right-line-icon {
            width: 1px;
            height: 180px;
        }

        &__left-line-icon {
            width: 1px;
            height: 210px;
        }

        &__links-container {
            margin-top: 0;
            gap: 1rem;
        }

        &__marquee {
            height: fit-content;
            width: 160px;
        }

        &__social-media-container {

            ::ng-deep svg {
                height: 23px;
                width: 23px;
            }
        }

        &__arrow-container {
            width: 25px;
            height: 45px;
        }
    }

    .hero-section {

        &__marquee-track {
            bottom: 10px;
            height: 55px;
        }

        &__marquee-content {
            font-size: 30px;
        }

    }
}

// 769 - 1279px
@media (min-width: 769px) and (max-width: 1279px) {

    .hero {
        &__email-movile-icon {
            display: none;
        }

        &__social-media-container {

            justify-content: flex-start;
            height: fit-content;

        }

        &__right-line-icon {
            height: 190px;
        }
    }


}

// + 1280px
@media (min-width: 1280px) {
    .hero {
        &__email-movile-icon {
            display: none;
        }

        &__social-media-container {

            justify-content: flex-start;
            height: fit-content;

        }

        &__right-line-icon {
            height: 190px;
        }
    }
}